<div class="text">
  <p><%= @question %><br></p>
  <p class="name">- You</p>
</div>

<div class="text">
  <p><%= @answer %><br></p>
  <p class="name">- Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
